# Configuración del servidor
NODE_ENV=development
PORT=3000
HOST=localhost

# Configuración de email (Gmail)
EMAIL_USER=tu-jordyjosephmontalvo@gmail.com
EMAIL_PASS=jotamont1008

# Email del administrador para recibir mensajes de contacto
ADMIN_EMAIL=jotamont7426@gmail.com
    

# URL del frontend
FRONTEND_URL=http://localhost:8080

# Configuración de MongoDB
MONGODB_URI=mongodb://localhost:27017/sifrah

# Configuración de CORS
CORS_ORIGIN=http://localhost:8080

# Timeouts del servidor
SERVER_TIMEOUT=30000 